option_settings:
  aws:elasticbeanstalk:environment:process:http:
    HealthCheckPath: /
    Port: 80
    Protocol: HTTP
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: HTTP:80/
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: basic
