option_settings:
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 4
  aws:elb:loadbalancer:
    CrossZone: true
  aws:elbv2:loadbalancer:
    IdleTimeout: 3600

Resources:
  AWSEBLoadBalancer:
    Type: AWS::ElasticLoadBalancingV2::LoadBalancer
    Properties:
      LoadBalancerAttributes:
        - Key: idle_timeout.timeout_seconds
          Value: '3600'